footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
    margin-top: 50px;
    background-color: $primary-color;
    padding: 30px 0;
    .navegacion {
        display: flex;
        flex-direction: column;
        align-items: top;
        font-family: 'rock';
        .nav {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            .nav-logo {
                width: 20%;
                margin-top: 20px;
                img {
                    max-width: 100%;
                }
            }
            .texto {
                color: $sec-color;
                text-transform: uppercase;
                h1 {
                    letter-spacing: 0.15em;
                    margin-bottom: 0;
                    text-align: center;
                }
                p {
                    margin: 0;
                    letter-spacing: 0.15em;
                    font-size: 1.2rem;
                    text-align: center;
                }
            }
        }
        .navegacion-link {
            font-family: 'futura';
            text-align: center;
            margin: 0;
            margin-bottom: 50px;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
    .redes {
        width: 80%;
        margin: 0 auto;
        .title-redes {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-transform: uppercase;
            color: $sec-color;
            font-family: 'rock';
            letter-spacing: 0.15em;
            h3 {
                margin: 0;
            }
        }
        .title-redes::after,
        .title-redes::before {
            content: '~';
            margin: 0 10px;
        }
        .icon-redes {
            display: flex;
            justify-content: flex-start;
            a {
                text-decoration: none;
                color: $sec-color;
                i {
                    font-size: 1.5rem;
                    padding: 5px 25px 0 0;
                }
            }
        }
        .contacto-redes {
            font-family: 'futura';
            color: white;
            margin-bottom: 50px;
            i {
                padding-right: 15px;
            }
        }
    }
    .contacto {
        width: 80%;
        .text-contacto {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-transform: uppercase;
            font-family: 'rock';
            color: $sec-color;
            letter-spacing: 0.15em;
            h3 {
                margin: 0;
            }
        }
        .text-contacto::before,
        .text-contacto::after {
            content: '~';
            margin: 0 10px;
        }
        form {
            .input-form {
                margin: 15px 0;
                input {
                    font-family: 'futura';
                    width: 100%;
                    padding: 8px 0;
                    border-radius: 6px;
                    border: none;
                }
            }
            button {
                display: flex;
                margin-left: auto;
                font-family: 'futura';
                padding: 8px 35px;
                background-color: $sec-color;
                border: none;
                border-radius: 20px;
                cursor: pointer;
            }
            span {
                color: red;
                font-family: 'futura';
            }
        }
    }
}

@media screen and (max-width:750px){
    footer {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        .navegacion {
            margin-top: 30px;
            .nav {
                margin-bottom: 20px;
            }
        }
        .redes {
            margin-bottom: 40px;
        }
        .contacto {
            margin-left: auto;
            margin-right: auto;
            align-items: flex-start;
        }
    }
}