









@media screen and (max-width:850px){
    .menu-btn {
        display: block;
    }
    .menu-btn:hover {
        opacity: 0.5;
    }
    nav {
        display: block;
        text-align: start;
        .link {
            position: absolute;
            top: 100px;
            left: 0;
            display: block;
            width: 50%;
            height: 100vh;
            margin-left: 0;
            padding-top: 2px;
            border-right: 1px solid $primary-color;
            background-color: rgba($color: #ffffff, $alpha: 0.9);
            transform: translateX(-110%);
            transition: transform 0.5s;
        }
        .link-item {
            width: 70%;
            display: block;
            margin: 20px 50px;
            border-bottom: 1px solid $primary-color;
            a {
                display: block;
                padding-bottom: 20px;
            }
        }
        .link-item::before,
        .link-item::after {
            display: none;
        }
        .show {
            transform: translateX(0);
        }
    }
    .column-servicios,
    .img-trabajos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:650px){
    .masthead {
        .logo-inicio {
            width: 80px;
            height: 80px;
        }
        .texto {
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
    .column-servicios,
    .img-trabajos {
        grid-template-columns: repeat(1, 1fr);
    }
    footer {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        .navegacion {
            margin-top: 50px;
        }
        .contacto {
            margin-left: auto;
            margin-right: auto;
            align-items: flex-start;
        }
    }
}

@media screen and (max-width:450px){
    nav {
        .menu-btn {
            top: 20px;
        }
        .nav-logo {
            margin-left: 5px;
            width: 80px;
        }
        .texto {
            h1 {
                font-size: 1.5rem;
            }
            p {
                font-size: 0.8rem;
            }
        }
        .link-item {
            margin-left: 10px;
        }
    }
    .title-servicios {
        h1 {
            font-size: 2rem;
        }
    }
    .title-servicios::after,
    .title-servicios::before {
        font-size: 3rem;
    }
}