$primary-color: black;
$sec-color: white;

@font-face {
    font-family: "rock";
    src: url(../fonts/RockwellStd.otf);
}

@font-face {
    font-family: "futura";
    src: url(../fonts/FuturaStd-Condensed.otf);
}