$primary-color: black;
$sec-color: white;

@font-face {
    font-family: "rock";
    src: url(../fonts/RockwellStd.otf);
}

@font-face {
    font-family: "futura";
    src: url(../fonts/FuturaStd-Condensed.otf);
}

//modal
.mascara {
    display: none; 
    position: fixed; 
    z-index: 50000; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0,0,0,0.8); 
    .contenido {
        border-radius: 10px;
        animation: modal 1s;
        position: fixed;
        top: 15vh;
        left: 10vw;
        right: 10vw;
        margin: auto;
        font-family: 'futura';
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: auto;
        max-width: 450px;
        .modal-title {
            display: flex;
            align-items: center;
            h3 {
                padding-left: 10px;
            }
            img {
                max-width: 10%;
            }
        }
        .modal-body {
            p {
                font-size: 1.2rem;
            }
        }
        .modal-footer {
            h3 {
                text-align: center;
            }
        }
        button {
            display: flex;
            margin-left: auto;
            font-family: 'futura';
            padding: 8px 35px;
            background-color: $primary-color;
            color: $sec-color;
            border: none;
            border-radius: 20px;
            cursor: pointer;
        }
    }
    @keyframes modal {
        0% {
            transform: translateY(-150%);
        }
    }
}

// Navbar
.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 32px;
    right: 30px;
    z-index: 2;
    display: none;
    color: $primary-color;
}

nav {
    font-family: "rock";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center;
    z-index: 100;
    transition: background-color 0.5s;
    .nav-logos {
        display: flex;
        align-items: center;
    }
    .nav-logo {
        margin-left: 30px;
        width: 100px;
        img {
            max-width: 100%;
        }
    }
    .texto {
        text-align: center;
        margin-left: 20px;
        h1 {
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 0.15em;
        }
        p {
            margin: 0;
            text-transform: uppercase;  
            font-size: 1.2rem;     
            letter-spacing: 0.15em;
        }
    }
    .link {
        margin-left: auto;
        padding-right: 30px;
        display: flex;
        a {
            color: $primary-color;
            text-decoration: none;
            font-size: 1.2rem;
            padding-top: 8px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 50%;
            letter-spacing: 0.12em;
        }
    }
    .link-item {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin: 0 30px;
    }
    .link-item::before, 
    .link-item::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: $primary-color;
        transition: transform 0.5s;
    }
    .link-item::before {
        transform: translateX(-101%);
    }
    .link-item::after {
        transform: translateX(101%);
    }
    .link-item:hover::before,
    .link-item:hover::after {
        transform: translateX(0);
    }
}

.bg {
    background-color:rgba($color: #ffffff, $alpha: 0.8);
    z-index: 200;
}

//img fondo
.img-fondo {
    position: absolute;
    opacity: 0.3;
    max-width: 100%;
    top: 0;
    transform: translateX(-40%);
}

.img-fondo2 {
    position: absolute;
    opacity: 0.2;
    width: 30%;
    top: 80%;
    right: 0;
    transform: translateX(50%);
}

.img-fondo3 {
    position: absolute;
    opacity: 0.2;
    width: 80%;
    bottom: 50%;
    left: 0;
    transform: translateX(80%);
}

// btn-whatsapp
.logo,
.logo-borde,
.logo-centro {
    z-index: 110;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: fixed;
    bottom: 70px;
    right: 30px; 
    transition: background-color 2s;
    width: 70px;
    height: 70px;
    background-color: $primary-color;
    .logo-borde {
        transition: background-color 2s;
        width: 85%;
        height: 85%;
        background-color: $sec-color;
        .logo-centro {
            transition: background-color 2s;
            width: 85%;
            height: 85%;
            background-color: $primary-color;
            i {
                font-size: 2rem;
                color: $sec-color;
            }
        }
    }
}

.logo:hover {
    cursor: pointer;
    background-color: $sec-color;
    .logo-borde {
        background-color: $primary-color;
        .logo-centro {
            background-color: $sec-color;
            i {
                color: $primary-color;
            }
        }
    }
}

body {
    overflow-x: hidden;
}

.contenedor {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    .img-back {
        position: relative;
        img {
            position: absolute;
            opacity: 0.2;
            width: 80%;
            top: -300px;
            left: 0;
            transform: translateX(-50%);
        }
    }
}

// Encabezado
.masthead {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    .logo-inicio {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background-color: $primary-color;
        animation: girar 5s;
        .inicio-borde {
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 85%;
            height: 85%;
            background-color: $sec-color;
            .inicio-centro {
                border-radius: 50%;
                width: 85%;
                height: 85%;
                background-color: $primary-color;
            }
        }
        @keyframes girar {
            0% {
                transform: scale(2) translateX(70%);
            }
            20% {
                transform: scale(2) translateX(70%);
            }
            50% {
                transform: scale(1) translate(150%);
            }
            100% {
                transform: scale(1) translate(0);
            }
        }
    }
    .texto {
        font-family: 'rock';
        margin-left: 15px;
        animation: initext 6s;
        h1, p {
            margin: 0;
            text-align: center;
            font-size: 2rem;
            letter-spacing: 0.15rem;
            text-transform: uppercase;
        }
        h1 {
            font-size: 4rem;
            letter-spacing: 0.6rem;
        }
        @keyframes initext {
            0% {
                opacity: 0;
            }
            60% {
                opacity: 0;
            }
        }
    }
}

//servicios y trabajos
.title-servicios {
    font-family: "rock";
    letter-spacing: 0.15em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    h1 {
        text-transform: uppercase;
        font-size: 3rem;
    }
}

.title-servicios::after,
.title-servicios::before {
    content: '~';
    margin: 0 30px;
    font-size: 5rem;
    font-weight: bolder;
}

.column-servicios,
.img-trabajos {
    z-index: 100;
    font-family: "futura";
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    text-align: center;
}

.column-servicios {
    .col {
        border-radius: 50px;
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 6rem;
            margin: 50px;
        }
        h1 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
}

.img-trabajos {
    .col-img {
        position: relative;
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        .img-col {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transition: opacity 0.5s;
            img {
                max-width: 100%;
            }
        }
        .text-col {
            position: absolute;
            width: 90%;
            z-index: 10;
            transform: translateY(-110%);
            transition: transform 0.5s;
            a {
                text-decoration: none;
                padding: 8px 35px;
                background-color: $primary-color;
                color: $sec-color;
                border: none;
                border-radius: 20px;
                cursor: pointer;
            }
        }
    }
    .col-img:hover {
        .text-col {
            transform: translateY(0);
        }
        .img-col {
            opacity: 0.3;
        }
    }
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    background-color: $primary-color;
    .navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'rock';
        .nav {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            .nav-logo {
                width: 20%;
                img {
                    max-width: 100%;
                }
            }
            .texto {
                color: $sec-color;
                text-transform: uppercase;
                h1, p {
                    letter-spacing: 0.15em;
                    margin: 0;
                    text-align: center;
                }
                p {
                    font-size: 1.2rem;
                }
            }
        }
        .title-redes {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            color: $sec-color;
            letter-spacing: 0.15em;
            h1 {
                margin: 0;
            }
        }
        .title-redes::after,
        .title-redes::before {
            content: '~';
            font-size: 2rem;
            margin: 0 10px;
        }
        .icon-redes {
            a {
                text-decoration: none;
                color: $sec-color;
                i {
                    font-size: 2rem;
                    padding: 5px 15px;
                }
            }
        }
    }
    .contacto {
        margin: 50px 0;
        width: 80%;
        .text-contacto {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-family: 'rock';
            color: $sec-color;
            letter-spacing: 0.15em;
        }
        .text-contacto::before,
        .text-contacto::after {
            content: '~';
            font-size: 2rem;
            margin: 0 10px;
        }
        form {
            .input-form {
                margin: 15px 0;
                input {
                    font-family: 'futura';
                    width: 100%;
                    padding: 8px 0;
                    border-radius: 6px;
                    border: none;
                }
            }
            button {
                display: flex;
                margin-left: auto;
                font-family: 'futura';
                padding: 8px 35px;
                background-color: $sec-color;
                border: none;
                border-radius: 20px;
                cursor: pointer;
            }
            span {
                color: red;
                font-family: 'futura';
            }
        }
    }
}

@media screen and (max-width:850px){
    .menu-btn {
        display: block;
    }
    .menu-btn:hover {
        opacity: 0.5;
    }
    nav {
        display: block;
        text-align: start;
        .link {
            display: block;
            width: 50%;
            height: 100vh;
            margin-left: 0;
            border-right: 1px solid $primary-color;
            padding-top: 20px;
            background-color: rgba($color: #ffffff, $alpha: 0.5);
            transform: translateX(-110%);
            transition: transform 0.5s;
        }
        .link-item {
            width: 70%;
            display: block;
            margin: 20px 50px;
            border-bottom: 1px solid $primary-color;
            a {
                display: block;
                padding-bottom: 20px;
            }
        }
        .link-item::before,
        .link-item::after {
            display: none;
        }
        .show {
            transform: translateX(0);
        }
    }
    .column-servicios,
    .img-trabajos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:650px){
    .masthead {
        .logo-inicio {
            width: 80px;
            height: 80px;
        }
        .texto {
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
    .column-servicios,
    .img-trabajos {
        grid-template-columns: repeat(1, 1fr);
    }
    footer {
        grid-template-columns: repeat(1, 1fr);
        .navegacion {
            margin-top: 50px;
        }
        .contacto {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (max-width:450px){
    nav {
        .menu-btn {
            top: 20px;
        }
        .nav-logo {
            margin-left: 5px;
            width: 80px;
        }
        .texto {
            h1 {
                font-size: 1.5rem;
            }
            p {
                font-size: 0.8rem;
            }
        }
        .link-item {
            margin-left: 10px;
        }
    }
    .title-servicios {
        h1 {
            font-size: 2rem;
        }
    }
    .title-servicios::after,
    .title-servicios::before {
        font-size: 3rem;
    }
}